<div class="form-container">
  <div class="form-container-internal">
    <h3>Nombre:</h3>
    <input type="text" [(ngModel)]="firstName">
    <br>
    <br>
    <h3>Apellido:</h3>
    <input type="text" [(ngModel)]="secondName">
    <br>
    <br>
    <h3>Teléfono:</h3>
    <input type="text" [(ngModel)]="phone">
    <br>
    <br>
    <h3>Dni:</h3>
    <input type="text" [(ngModel)]="dni">
    <br>
    <br>
    <button type="button" (click)="showInConsole()">Mostrar en consola</button>
  </div>
</div>